.post__like-button {
  background-image: url(../../../images/like.svg);
  background-color: transparent;
  width: 22px;
  height: 19px;
  border: none;
  cursor: pointer;
  transition: opacity .2s;
}

.post__like-button:hover {
  opacity: .5;
}
