.post__delete-button {
  background-image: url(../../../images/trash.svg);
  background-color: transparent;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
}
